.btn {
    padding: 5px 10px;
    background: rgb(0, 87, 250);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.btn:hover {
    background: rgb(58, 127, 255);
    cursor: pointer;
}

.btn-proceed {
    padding: 10px 20px;
    display: block;
    width: 100%;
}

.btn-dark {
    background: rgb(46, 46, 46);
    color: #999;
}
.btn:hover{
    background: rgb(83, 82, 82);
    color: rgb(190, 184, 184);
}