.CatalogPage * {
  border: 1px solid #000; 
}
.CatalogPage {
  width: 80%;
  margin: auto;
}
.CatalogPageHeader {
  display: flex;
}
.CatalogPage_h2 {
  width: 90%;
  font-size: 1em;
  color: rgb(0, 87, 250);
}
.CatalogPage_sort_item {
  min-width: 120px;
  height: 20px;
  text-align: center;
  line-height: 1.8em;
  font-size: 0.7em;
}
.Catalog_items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.CatalogProduct {
  width: 30%;
  height: 200px;
  margin: 5px 0;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 3px;
}
.CatalogProduct h3 {
  font-size: 0.8em;
}
.CatalogProduct_description {
  font-size: 0.8em;
}
.CatalogProduct_addtobasket {
  text-decoration: none;
  display: inline-block;
  font-size: 0.7em;
  margin-left: 10px;
  padding-bottom: 10px;
}
.CatalogProduct_image {
  width: 100%;
  height: 100px;
  
}
.CatalogProduct h3,
.CatalogProduct_price,
.CatalogProduct_description {
  padding: 0 10px;
}
.CatalogPage_link {
  color: rgb(1, 105, 209);
  text-decoration: none;
}
.Catalog_items__list * {
   border: 1px solid #f00; 
}
.Catalog_items__list {
  flex-direction: column;
}
.Catalog_items__list .CatalogProduct {
  height: 100px;
  display: flex;
  width: 100%;
}
.Catalog_items__list .CatalgProduct_image {
  width: 200px;
}
.Catalog_items__list .CatalgProduct_addtobasket {
  height: 26px;
  width: 90px;
  font-size: 0.5em;
}
.CatalogProduct_star {
  color: rgb(253, 186, 2);
}
.Catalog_items__list .CatalgProduct_star {
  width: 100px;
  font-size: 0.8em;
}
.Catalog_items__list .CatalogProduct h3 {
  width: 200px;
}
.Catalog_items__list .CatalgProduct_price {
  width: 50px;
  font-size: 0.8em;
}
.Catalog_items__list .CatalgProduct_description {
  width: 100px;
}
