* {
  box-sizing: border-box;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
}
.App {
  width: 1000px;
  margin: auto;
}
.App-nav ul {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.App-nav a {
  display: block;
  padding: 5px 10px;
  background: rgb(244, 244, 244);
  text-decoration: none;
  text-transform: uppercase;
}
